# https://git-scm.com/docs/gitignore
# ----------------------------------

# Prevent recursion
.dotdotdot/

# Default home directories
Desktop/
Downloads/
Music/
Pictures/
Public/
Templates/
Videos/
.cache/
.config/*
.gnupg/
.local/
.pki/
.ssh/
.swt/

# Default home files
.ICEauthority
.bash_history
.bash_logout
.gtk-bookmarks
.pam_environment
.shell.pre-oh-my-zsh
.sudo_as_admin_successful
.wget-hsts
.zcompdump
.zcompdump-pop-os-5.5.1
.zsh_history

# Custom directories
AppImages/
Nextcloud/
.fonts/
.node-gyp/
.npm/
.yarnrc

# Secret files
.profile_secrets

# Binary/Application directories
.eclipse/
.mozilla/
.nvm/
.oh-my-zsh/
.thunderbird/
.vscode-oss/

# Included app configurations
# https://stackoverflow.com/a/5534865
!.config/albert
.config/albert/*
!.config/albert/!albert.conf
