# https://git-scm.com/docs/gitignore
# ----------------------------------

# Prevent recursion
.dotdotdot/

# Default home directories
Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Templates/
Videos/
.cache/
.config/*
.gnupg/
.local/
.pki/
.ssh/
.swt/

# Default home files
.ICEauthority
.bash_history
.bash_logout
.gtk-bookmarks
.pam_environment
.shell.pre-oh-my-zsh
.sudo_as_admin_successful
.wget-hsts
.zcompdump*
.zsh_history

# Custom directories
AppImages/
Nextcloud/
Workspaces/
.fonts/
.gnome/
.node-gyp/
.npm/
.yarnrc

# Secret files
.profile_secrets
.vault-token
bin/FoxitReader
bin/wl
bin/doctl

# Application directories
.eclipse/
.mozilla/
.nvm/
.oh-my-zsh/
.thunderbird/
.vscode-oss/
.arduino15/
.java/
.oracle_jre_usage/
.pEp/
.pEp_management.db
.pEp_management.db-shm
.pEp_management.db-wal
.viminfo
Arduino/
.vuescan/*
opt/foxitsoftware

# Included app configurations
# https://stackoverflow.com/a/5534865
!.config/albert
.config/albert/*
!.config/albert/!albert.conf
!.vuescan/vuescan.ini

